{% load static %}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Minimal login form Responsive Widget Template : W3Layouts</title>

    <!-- Meta tags 
        -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">

    <!-- CSS Stylesheet 
        -->
    <link rel="stylesheet" href= {% static "CSS/reg.css" %}  type="text/css" media="all" />

</head>

<body>
    <div class="w3l-loginblock signinform">
        <div class="logo">
            <a class="brand-logo" href="index.html">admin login form</a>
        </div>
        <!-- main content -->
            <div class="row map-content-9">
                <div class="info-grids">
                    <form  method="post" class="" action="{% url 'login'%}">
                        {% csrf_token %}
                        <div class="form-grid">
                            
                            <div class="input-field">
                                <label>Email</label>
                                <input type="email" name="email" id="Password" placeholder="Email" required="" >
                            </div>
                            
                            <div class="input-field">
                                <label>Password</label>
                                <input type="password" name="password" id="Password" placeholder="Password"  required="">
                            </div>
                            
                        
                        <label class="check-remaind">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            <p class="remember">Remember Me</p>

                        </label>
                        <a href= {% url "register" %}>For Registeration</a><br><br>
                        <a href= {% url "forget" %}>Forgot password</a><br><br>
                        <a href= {% url "register_owner" %}>Owner Registration</a><br><br>
                        <button type="submit" class="btn btn-primary btn-style">Login Now</button>
                    </form>
                </div>
          
           {% if pass %}
           <script>
            alert('{{pass}}')

           </script>
           {% endif %} 
           {% if notregstered %}
           <script>
            alert('{{notregstered}}')

           </script>
           {% endif %}        
        <!-- //main content -->
        <!-- footer -->
        <!-- footer -->
    </div>

    <!-- fontawesome v5-->
    <script src=fontawesome.js></script>

</body>

</html>